body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.box {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 250px;
  margin-top: 10px;
}

nav {
  margin-top: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: rgb(91, 95, 99);
  font-weight: bold;
}